
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
    margin-right: auto;
    margin-top: 0px;
    margin-left: auto;
    background-color: #e6e4d9;
    background-image: url('/images/CSS/background.png');
}

p 
{
    
    margin: 0.5em 0 0.5em 0;
}

#mainheader
{
    background-color: #a593c2;
}

button:visited, a:visited
{
    color: #23CFA7;
}
button:link, a:link
{
    color: #fff;
    text-decoration: none;
}

a:hover, button:hover, tr:hover
{
    color:#0a9e7c;
    font-size-adjust: 180%;
    font-weight: bold;
}
section
{
    flex: 1;
}
nav 
{
    height: 60px;
    width: 1000px;
    margin: 0 auto 10px;
    font-size: 24px;
    text-align: center;
    justify-items: center;
    align-content: space-around;
}

nav > ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
}

nav > ul > li
{
    float: left;
}

nav>ul>li a
{
    display: flex;
    color: #a593c2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.searchbox 
{
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

h1
{
    color:#23CFA7
}

#main 
{
    width: 70%;
    margin-top: 10px;
    
}

footer
{
    align-items: center;
    width: 100%;
    
}

footer > nav >ul > li > a:visited, nav>ul>li a:visited
{
  color:#23CFA7;
}

footer > nav >ul > li > a:hover, nav>ul>li a:hover
{
    color:#0a9e7c;
}

#left-menu
{
    float: left;
    width: 20%;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px; 
    z-index: 100;
}

aside
{
    text-align: left;   
}

.columns
{
    display:flex;
    
}

.columns > div
{
    flex: 1;
}

.columns-desktop
{
    flex: 1;
}

table
{
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
    display: inline-flex;
    justify-content:stretch
    
   
}

tr {
    display:flex;
    flex: 5;
    align-items: center;
    background-color:#23CFA7;
    border: solid 3px #a97bf5;
}

table, th, td
{ 
    
    flex: 1;
    padding: 5px;
}

td {
    
    
    border: 3px solid #a97bf5;
    height: 100%;
    width: 100%;

}




@media only screen and (min-width: 768px)
{
    main 
    {
        display: flex;
    }
    aside
    {
        margin-left: 2%;
    }
    .columns-desktop
    {
        display: flex;
    }

}
/* Pies and cakes*/

.pie, .cake
{
    
    padding: 5px;
    margin: 5px;
    
    justify-content: space-around;
}

.tile{
    width: 200px;
    background-color:#23CFA7;
    border: solid 3px #a97bf5;
}

.pie img, .cake img
{
    width: 100%;
    height: 50%;
}

.pie .title, .cake .title
{
    font-weight: bold;
}

.pie .columns, .cake .columns
{
    width: 100%;
}

.pie .price, .cake .price
{
    text-align: center;
}
.pie .columns div, .cake .columns div
{
    width: 80%;
}

.pie button, .cake button
{
    background-color: #f6aeae;
    padding: 10px;
    border: solid 3px #f6aeae;
    border-radius: 3px;
    color: #fff;
}
article
{
    width: 60%;
    padding-top: 0; 
    padding-left: 5em; 
    padding-bottom: 0; 
    padding-right: 0;
}
.contact
{
    padding: 20px; 
    text-align: center;
    background-size: 100%;
    font-size: 24px;
    background-color:#a97bf5;
    border: 4px ridge #23CFA7;
    margin: 20px;
    color:#057b5f;
    
}

