body{
    background-color: #a593c2;
    background-image: url('/images/CSS/background.png');
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    flex-flow:column wrap;
    margin: 0 auto;
    overflow: visible;    
}

button{
outline: none;
border: none;
background: #23CFA7;
color: #644892;
font-size: 1rem;
padding: 5px;
border-radius: 5px;
box-shadow: 0 0 10px;
margin: 5px;
}

form{
    display: flex;
    flex-flow: column wrap;
}

label{
    text-align: center;
    color: #997bca;
    font-weight: 600;
}

input{
    padding: 5px;
    flex: 1;
    text-align: center;
}
aside img{
    box-shadow: 5px 5px 10px#997bca;
    border-radius: 50%;
}

aside
{
    display: flex;
    text-align: left;
    flex: 1;
    flex-direction: column;
    justify-items: stretch;
    margin: 2%;
    width:16%;
     
}

#left-menu
{
    float: left;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    height: auto;
    
}

.list{
    list-style-type: none;
}


nav > ul > li a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;

}

nav > ul > li{
    text-align: center;
    flex: 1;
    justify-items: stretch;
    justify-content: center;
    align-content: space-around;
    align-items:stretch;
    flex-wrap: wrap;
    display: flex;
}

nav > ul{
    display: flex;
    flex: 1;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}



nav 
{
    display: flex;
    background-color: #a593c2;
    text-align: center;
    justify-items: stretch;
    justify-content: center;
    align-content: space-around;
    align-items:stretch;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;    
}

p 
{
    margin: 0.5em 0 0.5em 0;
}

h1{
    background-color: #23CFA7;
    color:#7f58be;
    text-align: center;
    width:100%;
    box-shadow: 0 0 20px;
    border-radius: 5px;
}

h2{
    text-align:start;
    background-color: #23CFA7;
    flex: 1;
    font-family:'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #23CFA7;
}


@media only screen and (min-width: 768px){
    article{
        width: 80%;
        overflow: hidden;
    }
    }

.input-group
    {
        margin-bottom: 20px;
    }

.input-group input, .input-group textarea,
.input-group select{
    padding: 10px;
    border: solid 1px #999;
    border-radius: 2px;
    width: 100%;
}

input[type="reset"]{
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"]
{
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px;
}
 
.columns
{
    display:flex;
    justify-content: flex-end;
    
    
}

.columns > div
{
    flex: 1;
}

.columns-desktop
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    flex:1;
    flex-direction: row;
}

.pie, .cake
{
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
}

.pie img, .cake img
{
    display: flex;
    width:70%;
    padding: 10px;
    object-fit: cover;
    justify-content: center;
    
}

.pie > div > .title, .cake > div >.title
{
    font-weight: bold;
    padding: 0;
    margin: 0; 
    flex: 1;
}

.pie .columns, .cake .columns
{
    width: 100%;
    flex: 1;
    flex-direction: column;
}

.pie .price, .cake .price
{
    text-align: center;
}
.pie .columns div, .cake .columns div
{
    width: 100%;
}

.pie button, .cake button
{
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px #f6aeae;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center ;
    
}

.pie, .cake{
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items:stretch;
    justify-content: space-evenly;

}
     
.product img
{
    height:auto;
    width: 100%;

}

.product title
{
    font-weight: bold;
}

.product .columns
{
    width: 100%;
}

.product .price
{
    text-align: center;
}
.product .columns div
{
    width: 80%;
}

.product button
{
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1rem #f6aeae;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center ;
    
}
.product{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items:stretch;
    border-collapse: collapse;
       
}
article
{
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}
.tile > div{
    display:flex; 
    flex-direction: row;
    align-items: center;
}

.tile{
    height: fit-content;
    width: 200px;
    background-color:#23CFA7;
    display: flex;
    flex-flow: column wrap;
    
    
}

table, th, td, tr
{
    border: 5px solid #a593c2;
    border-bottom:none;
    border-collapse: collapse;
    text-align: center;
    background-color:#23CFA7;
    justify-content: center;
    align-items: center;
}

tr {
    display: flex;
    flex: 1;
    align-items:center;
    }

th
{ 
    flex:2;
}
.rtitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;   
}

td {
    display: flex;
    flex: 2;
    
}



.header, .footer{
    width: 100%;
    flex:1;
}
main{
    display: flex;
}

@media only screen and (min-width: 768px)
{
    
    aside
    {
        margin: 1%;
    }
   

}
.hover-zoom{
    transition: transform 0.3s;
    height: fit-content;
}

.hover-zoom:hover {
    transform: scale(2);
    position: relative;
    top: 50px;

    z-index: 100;
    box-shadow: 0 0 15px gold;
    border-radius: 80%;
    

}

.head{
    flex-direction: column;
}

button:visited, a:visited{
    color: #23CFA7;
}

button:link, a:link
{
    color: #fff;
    text-decoration: none;
}

.contact
{
    padding: 20px; 
    text-align: center;
    background-size: 100%;
    font-size: 24px;
    border: 3px ridge #23CFA7;
    margin: 20px;
    color: #23CFA7    
}

.contact a:link{
    color: #997bca;
}

button:hover, tr:hover, th:hover 
{
    color:#020a08;
    font-size: 1.5em;
    font-weight: bolder;
    
}
    
a:hover
{
    color:#020a08;
    font-size:1.05em;
    font-weight: bold; 
}    

section
{
    flex: 2;
}

#main 
{
    width: 70%;
    margin: 10px; 
          
}

footer > nav >ul > li > a:visited, nav>ul>li a:visited
{
  color:#23CFA7;
}

footer > nav >ul > li > a:hover, nav>ul>li a:hover
{
    box-shadow: 0 0 10px rgb(241, 240, 237);
    border-radius: 20px;
}

.carousel {
    
    overflow:hidden;
    width:100%; /* Adjust the width and height as needed */
    height:400px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide {
    flex: 0 0 100%;
    position:absolute   ;
    top: 0;
    left: 0;
    width:100%;
    height:auto;
    animation: granulate 2s ease-in-out infinite; /* Apply the granulate animation */
}
.carousel img{
    object-fit: cover;
    height:auto;
    width: 100%;
}

#aside, header{
    text-align: center;
}

.tile > div > .title{
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex: 1;
    color: #997bca;
    text-shadow: 1px 1px 5px #fff;

}
