body{
    background-color: #a593c2;
    background-image: url('/images/CSS/background.png');
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow:column wrap;    
}

button{
outline: none;
border: none;
background: #23CFA7;
color: #644892;
font-size: 1rem;
padding: 5px;
border-radius: 5px;
box-shadow: 0 0 10px;
margin: 5px;
}

form{
    display: flex;
    flex-flow: column wrap;
}

label{
    text-align: center;
    color: #997bca;
}

input{
    padding: 5px;
    flex: 1;
    text-align: center;
}
aside img{
    box-shadow: 5px 5px 10px#997bca;
    border-radius: 50%;
}

aside
{
    display: flex;
    text-align: left;
    flex: 1;
    flex-direction: column;
    justify-items: stretch;
    margin: 20px;
    width:12%;
     
}

#left-menu
{
    float: left;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    height: auto;
    
}

.list{
    list-style-type: none;
}


nav > ul > li a{
    display: flex;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;

}

nav > ul > li{
    display: flex;
    text-align: center;
    flex: 1;
    justify-items: stretch;
    justify-content: center;
    align-content: space-around;
    align-items:stretch;
    flex-wrap: wrap;
}

nav > ul{
    display: flex;
    flex: 1;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}



nav 
{
    display: flex;
    background-color: #a593c2;
    text-align: center;
    justify-items: stretch;
    justify-content: center;
    align-content: space-around;
    align-items:stretch;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;    
}

p 
{
    margin: 0.5em 0 0.5em 0;
}

h1{
    background-color: #23CFA7;
    color:#7f58be;
    text-align: center;
    width:100%;
    box-shadow: 0 0 20px;
    border-radius: 5px;
}

h2{
    text-align:start;
    background-color: #23CFA7;
    flex: 1;
    font-family:'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


